li {
    border: solid 0.5px grey;
    padding-top: 2.5%;
    list-style-type: none;
    text-align: center;
    padding-right: 35%;
    font-size: 250%;
}

h1 {
    font-family: Courier;
    font-size: 5rem;
    color: #C0C0C0;
    margin-top: 3%;
    text-align: center;
}

ul {
    border: solid 1px grey;
    width: auto 20%;
    padding: 0;
 

}